.title-wrapper
{
        display: flex;
        justify-content: center;
        align-items: center;  
        border: 3px solid black;
        border-radius: 50px;
        width: 90%;
        margin: auto;
}
.id__wrapper{
        width: 100% !important;
        margin: auto !important;
}
.body-wrapper
{
        border: 5px solid #0a5a07;
        padding: 5%;
        border-radius: 25px;
        position: relative;
}
#form{
        display: flex;
}
.dummy
{
        display: flex;
        justify-content: center;
        align-items: center;  
        border: 3px solid black;
        border-radius: 50px;
        width: 100%;
        background-color: rgb(12, 8, 75);
        font-size: 25px;
        color: white;
}
.gender-wrapper
{
        border: 1px solid black;
        border-radius: 30px;
        margin: 10px 20px 10px 35px;
        background-color: rgb(12, 8, 75);
        color: rgb(255, 255, 255);
        padding: 10px;
}

.name-wrapper, .mail-wrapper, .reg-wrapper, .dep-wrapper, .year-wrapper, .dob-wrapper, .address-wrapper, .city-wrapper,
.state-wrapper, .mail-wrapper, .mobile-wrapper,  .campus-wrapper, .file-wrapper,.button-wrapper
{
        margin: 10px 20px 10px 35px;
        background: none;
        border: 1px solid black;
        padding: 10px;
        width: 90%;
        display: inline-block;
        filter: blur(0px);
        background-color: rgb(12, 8, 75);
        border-radius: 30px;
        color: rgb(255, 255, 255);
        
        /* background-image: linear-gradient(to right, rgba(128, 142, 249, 0), rgb(95, 95, 245)); */
}


.year_para-wrapper, .name_para-wrapper, .reg_para-wrapper, .address_para-wrapper, .city_para-wrapper,
.state_para-wrapper, .mail_para-wrapper, .mobile_para-wrapper
{
        margin: 0px 0px 0px 128px;
        font-size: 17px;
        
}

#name-op, #year-op, #reg-op, #address-op, #city-op, #state-op, #mail-op, #mobile-op
{
        color: red;
}

.custom-buttom
{
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        overflow: hidden;
        transition: all .5s;
        font-size: 20px;
        background-color: rgb(247, 248, 252);
        float: left;
        margin: auto !important;
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
        margin: 1% !important;
        width: 30% !important;

}
/* .button:hover{

} */
.custom-buttom:before{
        color: #ffffff;
        z-index: -6;
        transform: translate3D(0,0,0);
      }
      
.custom-buttom:hover{
                background-color: rgb(59, 198, 61);
}


