@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.header 
{
    /* padding: 60px;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: italic; */
    width: 100%;
    height: 100px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 20px;
}
.best{
    margin: 20px;
}






.btn-group
{
    
    background-color:rgb(4, 255, 255);
    color:#fff;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
.btn-group2
{
    position: absolute;
    background-color:rgb(250, 255, 255);
    color:rgb(7, 255, 255);
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
.btn-group4
{
    position: absolute;
    background-color:rgb(0, 255, 255);
    color:rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  





.image{
  width: 636px;
  height: px;
  object-fit: cover;
  object-position: 50% 50%;
}

.image2{
  width: 636px;
  height: px;
  object-fit: cover;
  object-position: 50% 50%;
}
.text{
    position: absolute;
    left: 50px;
    top:174px;
}



