<div class="slide-full">
    <div class="text-container">
        <h1>Heladitos 3</h1>
        <p>Lorem ipsum dolor sit amet </p>
    </div>
    <div class="animal-btns-container">
        <div class="animal-btn" id="animal_a"></div>
        <div class="animal-btn" id="animal_b"></div>
        <div class="animal-btn" id="animal_c"></div>
        <div class="animal-btn" id="animal_d"></div>
        <div class="animal-btn" id="animal_e"></div>
        <div class="animal-btn" id="animal_f"></div>
    </div>
</div>