<div class="slide-half">
    <div class="col-6">
        <div class="text-container">
            <h1>Heladitooooosssss</h1>
            <p>Lorem ipsum dolor sit amet <b>consectetur adipisicing elit.</b>
                Soluta mollitia asperiores natus similique maiores unde minus eveniet
                onsequatur dolores consectetur in tempore rem saepe earum vel, labore illum magni! Qui!</p>

            <p>Lorem ipsum dolor sit amet <b>consectetur adipisicing elit.</b> Exercitationem
                adipisci nam facere, doloremque quas dolores iure, praesentium porro
                repudiandae tempora vel sequi sed soluta debitis repellendus? Consequatur illum aspernatur sunt.</p>
        </div>
    </div>
    <div class="col-6 background-image" id="backSlide2">

    </div>
</div>